rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /live/{liveId} {
      allow get, write;
    }

    match /runes/{pageId} {
      allow read, write;
    }
  }
}